.bold {
  font-weight: 700;
}

.homeBanner {
  position: relative;
  background: linear-gradient(144deg, rgb(18, 29, 112) 0%, rgb(22, 90, 222) 100%);
  padding: 6.25rem 0;
}
.homeBanner:after {
  content: url("../../public/wave.svg");
  position: absolute;
  display: flex;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -1px;
}
@media (min-width: 60rem) {
  .homeBanner {
    padding: 6.25rem 0 4rem;
  }
}

.defBanner {
  composes: homeBanner;
  display: flex;
  align-items: flex-end;
  height: 20rem;
  color: #ffffff;
}
.defBanner:after {
  content: "";
}

.bannerWrapper {
  height: 100%;
}
.bannerWrapper img {
  width: 100%;
}
@media (min-width: 60rem) {
  .bannerWrapper {
    display: flex;
    align-items: center;
    height: 37.5rem;
  }
  .bannerWrapper > * {
    width: 50%;
  }
}

.title {
  color: #ffffff;
  margin-top: 3rem;
  text-align: center;
}
@media (min-width: 60rem) {
  .title {
    margin-top: 0;
    text-align: left;
  }
}

.pageTitle {
  composes: title;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .pageTitle {
    font-size: 4rem;
  }
}
