@import 'variables';
// Logo Styling

.topBar {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    z-index: 9;
}

.logoWrapper {
    display: inline-block
}

.logo {
    max-width: 10rem;
}

.navigation {
    margin-left: auto;
    color: $white;
}

.li {
    float: left;
}

.link {
    padding: 0.8rem 1.2rem;

    &:hover, &:active {
        color: $black;
        background-color: $white;
        border-radius: $br-small;
    }
}

.btn {
    position: relative;
    margin-left: auto;
    height: 0.25rem;
    width: 2.25rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: pointer;

    &:before, &:after {
        content: "";
        position: absolute;
        height: 0.25rem;
        width: 2.25rem;
        border-radius: 0.2rem;
        background-color: #ffffff;
        left: 0;
    }

    &:before {
        bottom: 0.75rem;
    }

    &:after {
        top: 0.75rem;
    }
}

.mobileNavWrapper {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 16rem;
    right: 0;
    top: 0;
    z-index: 9;
    padding-left: 1.5rem;
}

// Mobile Navigation Styling
.liMobile {
    padding: 0.8rem 0;
}

.close {
    position: relative;
    min-height: 2rem;
    min-width: 2rem;
    margin: 2rem auto;

    &:before, &:after {
        content: "";
        position: absolute;
        height: 0.25rem;
        width: 1.75rem;
        border-radius: 0.2rem;
        background-color: $black;
        left: 0;
        transform-origin: center;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}